appnope
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
chardet
charset-normalizer
colorama
comm
contourpy
crypto
cryptography
cycler
debugpy
decorator
defusedxml
distlib
docopt
easygoogletranslate
EditorConfig
executing
fastjsonschema
filelock
fonttools
fsspec
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
huggingface-hub
hyperframe
idna
ipykernel
ipython
jedi
Jinja2
jsbeautifier
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kaggle
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
mysql-connector-python
Naked
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ntlm-auth
numpy
opencv-contrib-python
opencv-python
packaging
pandas
pandocfilters
parso
patsy
peepdf-3
pexpect
pickleshare
pillow
pipreqs
platformdirs
png-parser @ git+https://github.com/Hedroed/png-parser@bc0749bb54cfe4b86b66937e2250e398c7ce330e
prettytable
prompt_toolkit
psutil
psycopg
psycopg-binary
ptyprocess
pure-eval
py-cpuinfo
pyannote.core
pycparser
Pygments
pyOpenSSL
pyparsing
pypdf
pypng
PySocks
pyspnego
python-dateutil
python-slugify
pythonaes
pytz
PyYAML
pyzmq
qrcode
referencing
requests
requests-ntlm
requests-toolbelt
rfc3986
rpds-py
scipy
seaborn
setuptools
shellescape
six
sniffio
sortedcontainers
soupsieve
stack-data
statsmodels
sympy
text-unidecode
thop
tinycss2
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
ultralytics
urllib3
virtualenv
wcwidth
webencodings
yarg
